*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url(gradient.jpeg);
    background-position:40% 60%;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.outside-wrapper{
    border:1px solid white;
    width:1500px;
    height:800px;
    padding:30px;
    border-radius: 45px;
}

.wrapper{
    width:100%;
    height:100%;
    border:1px solid white;
    border-radius: 45px;
    overflow: hidden;
    display: flex;
    background: url(collaboration.jpeg) ;
    background-repeat: no-repeat;
    background-size: 800px 800px;
}

.img-section{
    padding: 40px 0 0 30px;
    width:55%;
}

.img-section h1{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-section{
    background: white;
    width:45%;
    border-radius: 20px;
}